<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../asstes/css/portfolio.css">
</head>
<body>
    <div class="container">
        <div class="headerContainer">
            <a href="#home">
                <button class="headerButton">Home</button class="headerButton">
            </a>

            <a href="#about">
                <button class="headerButton">About</button class="headerButton">
            </a>

            <a href="#education">
                <button class="headerButton" style="width: 4rem;">Service</button class="headerButton">
            </a>

            <a href="">
                <button class="headerButton">Project</button class="headerButton">
            </a>

            <a href="">
                <button class="headerButton">Contact</button class="headerButton">
            </a>
        </div>

        <div id="home" class="subContainer">
            <div class="nameContainer">
                <p>Hi! I'm <span id="typing">Khriz</span></p>
            </div>

            <div class="background">
                <div class="subBackground">
                    <div class="subBackground1">

                    </div>
                </div>

                <div class="textContainer">
                    <p>DESIGNER</p>
                </div>
                
                <div class="imageContainer">
                    <img class="image" src="../asstes/img/rb_5731.png" alt="">
                </div>

                <div class="iconContainer">
                    <a class="subIconContainer" href="">
                        <div>
                            <img class="image1" src="../asstes/img/brand-facebook.png" alt="">
                        </div>
                    </a>

                    <a class="subIconContainer" href="">
                        <div>
                            <img class="image1" src="../asstes/img/brand-github.png" alt="">
                        </div>
                    </a>

                    <a class="subIconContainer" href="">
                        <div>
                            <img class="image1" src="../asstes/img/brand-instagram.png" alt="">
                        </div>
                    </a>

                    <a class="subIconContainer" href="">
                        <div>
                            <img class="image1" src="../asstes/img/brand-tiktok.png" alt="">
                        </div>
                    </a>

                    <a class="subIconContainer" href="">
                        <div>
                            <img class="image1" src="../asstes/img/inbox.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="about" class="aboutContainer">
            <div style="margin-top: 3rem;" class="subAboutContainer">
                <div class="borderContainer">
                    <img class="image3" src="../asstes/img/462555263_911511287748725_459863335213123207_n-removebg-preview.png" alt="">
                </div>
            </div>

            <div class="subAboutContainer">
                <div class="aboutTextContainer">
                    <p>Hi, I am Khriz Marr L. Falcatan, a 3rd year student from Western Mindanao State University and a web designer.</p>
                </div>

                <div class="skillContainer">
                    <div class="skillText">
                        <p>Skills</p>
                    </div>

                    <div class="skillPercent">
                        <div class="subSkillPercent">
                            <div class="skillName" style="font-size: 0.9rem;">
                                <p>TAILWIND</p>
                            </div>

                            <div class="percentage">
                                <div class="lineContainer">
                                    
                                </div>

                                <div class="circle" style="margin-left: 8rem;">

                                </div>
                            </div>

                            <div class="skillName" style="text-align: left; font-size: 0.9rem;">
                                <p>80%</p>
                            </div>
                        </div>

                        <div class="subSkillPercent">
                            <div class="skillName" style="font-size: 0.9rem;">
                                <p>HTML</p>
                            </div>

                            <div class="percentage">
                                <div class="lineContainer">
                                    
                                </div>

                                <div class="circle" style="margin-left: 9rem;">

                                </div>
                            </div>

                            <div class="skillName" style="text-align: left; font-size: 0.9rem;">
                                <p>90%</p>
                            </div>
                        </div>

                        <div class="subSkillPercent">
                            <div class="skillName" style="font-size: 0.9rem;">
                                <p>CSS</p>
                            </div>

                            <div class="percentage">
                                <div class="lineContainer">
                                    
                                </div>

                                <div class="circle" style="margin-left: 6rem;">

                                </div>
                            </div>

                            <div class="skillName" style="text-align: left; font-size: 0.9rem;">
                                <p>60%</p>
                            </div>
                        </div>

                        <div class="subSkillPercent">
                            <div class="skillName" style="font-size: 0.9rem;">
                                <p>JS</p>
                            </div>

                            <div class="percentage">
                                <div class="lineContainer">
                                    
                                </div>

                                <div class="circle" style="margin-left: 7rem;">

                                </div>
                            </div>

                            <div class="skillName" style="text-align: left; font-size: 0.9rem;">
                                <p>70%</p>
                            </div>
                        </div>

                        <div class="subSkillPercent">
                            <div class="skillName" style="font-size: 0.9rem;">
                                <p>PHOTOSHOP</p>
                            </div>

                            <div class="percentage">
                                <div class="lineContainer">
                                    
                                </div>

                                <div class="circle" style="margin-left: 4rem;">

                                </div>
                            </div>

                            <div class="skillName" style="text-align: left; font-size: 0.9rem;">
                                <p>40%</p>
                            </div>
                        </div>

                        <div class="subSkillPercent">
                            <div class="skillName" style="font-size: 0.9rem;">
                                <p>FIGMA</p>
                            </div>

                            <div class="percentage">
                                <div class="lineContainer">
                                    
                                </div>

                                <div class="circle" style="margin-left: 7rem;">

                                </div>
                            </div>

                            <div class="skillName" style="text-align: left; font-size: 0.9rem;">
                                <p>70%</p>
                            </div>
                        </div>

                        <div class="subSkillPercent">
                            <div class="skillName" style="font-size: 0.9rem;">
                                <p>CANVA</p>
                            </div>

                            <div class="percentage">
                                <div class="lineContainer">
                                    
                                </div>

                                <div class="circle" style="margin-left: 9rem;">

                                </div>
                            </div>

                            <div class="skillName" style="text-align: left; font-size: 0.9rem;">
                                <p>90%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="education" class="educationContainer">

        </div>
    </div>

    <script src="../asstes/js/portfolio.js"></script>
</body>
</html>