body{
    background-color: rgb(39, 54, 59);
    font-family: "Roboto";
}

*{
    padding: 0;
    margin: 0;
}

.container{
    outline: red dashed 1px;
}

.headerContainer{
    outline: red dashed 1px;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.headerButton{
    height: 2.5rem;
    width: 4rem;
    background-color: transparent;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    transition: all 0.15s;
}

.headerButton:hover{
    transform: scale(1.1);
    background-color: rgb(153, 185, 152);
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.headerButton:active{
    transform: scale(1);
    color: rgb(153, 185, 152);
    border: solid rgb(153, 185, 152) 1px;
    background-color: transparent;
    box-shadow: none;
}

.subContainer{
    outline: red dashed 1px;
}

.nameContainer{
    outline: red dashed 1px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

span{
    color: rgb(253, 85, 76);
}